{% extends 'base.html' %}

{% block main %}
<main>

  <form action="/" method="POST">
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea is-primary" id="content" name="content" placeholder="Add todo..." required></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Date</label>
      <div class="control">
        <input class="input is-primary" id="date" name="date" type="date" placeholder="Date" required>
      </div>
    </div>
    <button type="submit" class="button is-primary">Create</button>
  </form>

  <div class="todos">
    {% for todo in todos %}
    <div class="card">
      <div class="card-content">
        {% if todo.done %}
        <p class="title marked">{{todo.content}}</p>
        {% else %}
        <p class="title">{{todo.content}}</p>
        {% endif %}
        <p class="subtitle">
          Added at: {{todo.date}}
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <a class="button is-warning" id="update" href="/update/{{todo.id}}">Update</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <a class="button is-danger" href="/delete/{{todo.id}}">Delete</a>
          </span>
        </p>
      </footer>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}